/* #mapid {
    height: 100%;
    width: 100%;
} */

body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}

#title {
    box-sizing: border-box;
    position: fixed;
    background-color: 	rgba(0, 0, 0, 0.65);
    border: white 2pt solid;
    box-shadow: 10px 10px 5px grey;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px royalblue, 0 0 5px black;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    height: auto;    
    width: auto;
    padding: 10pt;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
    
}